/*
 * Index
 * - FRAMEWORK & SETTINGS
 * - LIBRARIES (/libs)
 * - VARIABLES
 * - GLOBAL
 * - REGIONS (HEADER, FOOTER, BLOCKS)
 * - PAGES
 *
 *    Page Content Structures
 *
 *    Home page
 *    +-----------------------------+
 *    |  article                    |
 *    |  +-----------------+        |
 *    |  |  block          |        |
 *    |  |  +-----------+  |        |
 *    |  |  |  header   |  |        |
 *    |  |  +-----------+  |        |
 *    |  |  +-----------+  |        |
 *    |  |  |  section  |  |        |
 *    |  |  |           |  |        |
 *    |  |  +-----------+  |        |
 *    |  +-----------------+        |
 *    |  +-----------------+        |
 *    |  |  block...       |        |
 *    |  +-----------------+        |
 *    +-----------------------------+
 *
 *    Other pages
 *    +-----------------------------+
 *    |  article                    |
 *    |  + • • • • • • • • • • • +  |
 *    |  •  header               •  |
 *    |  + • • • • • • • • • • • +  |
 *    |                             |
 *    |  + • • • • • • • • • • • +  |
 *    |  •  section              •  |
 *    |  •  +-----------------+  •  |
 *    |  •  |  block          |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  |  |  header   |  |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  |  |  section  |  |  •  |
 *    |  •  |  |           |  |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  +-----------------+  •  |
 *    |  •  +-----------------+  •  |
 *    |  •  |  block...       |  •  |
 *    |  •  +-----------------+  •  |
 *    |  + • • • • • • • • • • • +  |
 *    +-----------------------------+
 */

/*
 * FRAMEWORK & SETTINGS
 */

// Bourbon
// @see http://bourbon.io/docs
$em-base: 16px !default;
@import '../lib/contributed/bourbon/app/assets/stylesheets/bourbon';

// Neat
// - @see http://neat.bourbon.io/docs
$modular-scale-ratio: $major-third;
$modular-scale-base: 1em;
// - Devel
$visual-grid-color: #ffa !default;
//$visual-grid: true !default;
// - Columns & Gutters
$grid-columns: 12 !default;
$gutter: 1rem !default;
$column: 2rem !default;
// - Other
$border-box-sizing: true !default;
// - Load Neat
@import '../lib/contributed/neat/app/assets/stylesheets/neat';

// Base
@import 'base/base';

// Snippets
@import 'snippets/snippets';

// Mixins
@import 'mixins/mixins';

// Functions
@import 'functions/functions';

// Dev
@import 'dev/dev';

/*
 * LIBRARIES (/libs)
 */

// Font-Awesome
$fa-font-path: '../lib/contributed/font-awesome/fonts';
@import '../lib/contributed/font-awesome/scss/font-awesome';

// Icons
// @import '../lib/custom/icons/icons';

/*
 * VARIABLES
 */

/*
 * GLOBAL
 */

body {
  margin: 0;
  padding: 0;
  // Scale down the text on smaller devices
  font-size: modular-scale(0);
  @include media($small-screen) {
    font-size: modular-scale(0);
  }

  a {

  }

  .page {
    padding: 0 $base-spacing;
    > .inner {
      @include outer-container;
      > h1 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 4em;
        @include media($small-screen) {
          text-align: left;
          font-size: 5em;
        }
      }
    }
  }
}

/*
 * REGIONS (HEADER, FOOTER, BLOCKS)
 */

#header {
  margin: 1.5em $base-spacing;
  > .inner {
    @include outer-container;

    #logo {
      @include media($small-screen) {
        @include span-columns(3);
      }
      .text {
        @extend h3;
        text-align: center;
        margin-bottom: .5em;
        @include media($small-screen) {
          text-align: left;
          margin-bottom: 0;
        }
        span {
          font-weight: $base-font-weight-bold;
        }
      }
    }

    #topmenu {
      @include media($small-screen) {
        @include span-columns(9);
      }
      ul {
        text-align: center;
        @include media($small-screen) {
          text-align: right;
        }
        li {
          display: inline-block;
          a {
            @extend button;
            margin: 0 1em;
            font-size: modular-scale(-1);
            @include media($tiny-screen) {
              font-size: modular-scale(0);
            }
          }
        }
      }
    }
  }
}

#footer {

}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#fff, .90);
  .inner {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    .inner2 {
      text-align: center;
      background: #fff;
      display: inline-block;
      padding: 3em;
      //border: 1px solid $light-gray;
      // Vertical align
      a.button {
        @extend button;
        font-size: 2em;
        margin: 1em;
      }
    }
  }
}

#mainmenu {
  ul {
    @include outer-container;
    margin-bottom: 1em;
    li {
      display: inline-block;
      a {
        @extend button;
        margin: .5em;
      }
    }
  }
}

/*
 * PAGES
 */

// Front
.front.page {
  .inner {
    .dashboard {
      @include outer-container;
      > * {
        margin-bottom: 2em;
        header {
          > * {
            display: inline-block;
            &.actions {
              font-size: 2em;
              margin-left: .5em;
              .add {
                @extend .fa, .fa-plus;
                .text {
                  display: none;
                }
              }
            }
          }
        }
      }

      .goods-outer {
        @include media($medium-screen) {
          @include span-columns(5);
        }
      }

      .packages-outer {
        @include media($medium-screen) {
          @include span-columns(7);
        }
        // Give more space to the inner table
        table {
          td, th {
            width: 15%;
            &:nth-of-type(4) {
              width: auto;
            }
            th, td {
              width: auto;
            }
          }
        }
      }
      table {
        .error {
          color: $error;
        }
        .actions {
          text-align: center;
          .remove {
            @extend .fa, .fa-times;
            color: $error;
            padding: 0 .5em;
            .text {
              display: none;
            }
          }
          .save {
            @extend .fa, .fa-check;
            color: $success;
            padding: 0 .5em;
            .text {
              display: none;
            }
          }
          .add {
            @extend .fa, .fa-plus;
            padding: 0 .5em;
            .text {
              display: none;
            }
          }
          .connect {
            display: none;
            .link {
              @extend .fa, .fa-link;
              color: $success;
              padding: 0 .5em;
              .text {
                display: none;
              }
            }
            input {
              width: 40px;
              display: inline-block;
            }
          }
        }
        tr.d1.active .actions .add {
          @extend .fa, .fa-link;
          color: $medium-gray;
        }
        th, td {
          padding: .5em;
          &:nth-of-type(even) {
            background: $feather-gray;
          }
        }
        tr {
          &:last-of-type {
            td {
              border-bottom: none;
            }
          }
        }
        table {
          th {
            border-bottom: none;
          }
        }
      }
    }
  }
}