/*
 * Fixed Column
 *
 * Description
 * Allows to set one column to a fixed width, while keeping another fluid.
 * Optionally, reset with @include fixed-column-reset; and @include fluid-column-reset;
 *
 * Example
 * .parent {
 *   @include fixed-column-container;
 *   .fixed-column {
 *     @include fixed-column(300px, right);
 *   }
 *   .fluid-column {
 *     @include fluid-column(300px, 30px, right);
 *   }
 * }
 */
@mixin fixed-column-container() {
  position: relative;
}

@mixin fixed-column($width, $direction) {
  position: absolute;
  width: $width;
  top: 0;
  @if $direction == left {
    left: 0;
  } @else {
    right: 0;
  }
}

@mixin fluid-column($offset, $gutter, $direction) {
  @if $direction == left {
    margin-right: $offset + $gutter;
  } @else {
    margin-left: $offset + $gutter;
  }
}

@mixin fixed-column-reset() {
  position: static;
  width: auto;
  top: auto;
  right: auto;
  left: auto;
}

@mixin fluid-column-reset() {
  margin-right: 0;
  margin-left: 0;
}