#{$all-buttons} {
  appearance: none;
  background-color: transparent;
  border: 1px solid $light-gray;
  border-radius: $base-border-radius;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight-thin;
  line-height: 1;
  padding: 1.3em 1.5em;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $light-gray;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
