@import "../../lib/contributed/neat/app/assets/stylesheets/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints
$tiny-screen: rem(480); // large phones
$small-screen: rem(720); // tablets
$medium-screen: rem(1024); // large tablets
$large-screen: rem(1280); // desktop
$max-width: rem(1170); // TODO: reconfigure/check

$tiny: new-breakpoint(min-width $tiny-screen);
$small: new-breakpoint(min-width $small-screen);
$medium: new-breakpoint(min-width $medium-screen);
$large: new-breakpoint(min-width $large-screen);
//$mobile-only: new-breakpoint(min-width 0) new-breakpoint(max-width $tablet_width);
//$tablet-only: new-breakpoint(min-width $tablet_width) new-breakpoint(max-width $desktop_width);