body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: $base-font-weight-thin;
}

h1 {
  font-size: modular-scale(8);
  margin-bottom: .5em;
}

h2 {
  font-size: modular-scale(7);
  margin-bottom: .5em;
}

h3 {
  font-size: modular-scale(5);
  margin-bottom: .5em;
}

h4 {
  font-size: modular-scale(3);
  margin-bottom: .5em;
}

h5 {
  font-size: modular-scale(1);
  margin-bottom: .5em;
}

h6 {
  font-size: modular-scale(0);
  margin-bottom: .5em;
}

p {
  margin: 0 0 $base-spacing;
  font-weight: $base-font-weight-thin;
  font-size: $base-font-size;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
