// Typography
$base-font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$base-font-weight-thin: 300;
$base-font-weight-normal: 400;
$base-font-weight-bold: 700;
$heading-font-family: $base-font-family;
$heading-font-weight-thin: 300;
$heading-font-weight-normal: 400;
$heading-font-weight-bold: 700;
$fontawesome-font-family: 'FontAwesome';

// Font Sizes
$base-font-size: 1rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Other Sizes
$base-border-radius: 3px;
$block-spacing: modular-scale(8);
$base-spacing: $base-font-size;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$strawberry: #ff005c;
$dark: #202020;
$cyan: #5be3d5;
$butterscotch: #ffcc00;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$feather-gray: #f5f5f5;
$blue: #26adef;
$success: #12d824;
$caution: #d8d112;
$warning: #d86612;
$error: #ce1f1f;


// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: .5s;
$base-timing: ease;
