// This code protects phone numbers with about 100% effectiveness.
// To use, paste the following markup "<span class="protect-phone" data-area="321" data-first="654" data-last="0987"></span>". This will output (123) 456-7890.
// This is based on _protect-email.scss
.protect-phone:before {
  content: attr(data-last) '\002D' attr(data-first) '\0020\0028' attr(data-area) '\0029';
  unicode-bidi: bidi-override;
  direction: rtl;
}